
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.ttf');
}
@font-face {
    font-family: 'El Messiri';
    src: url('../font/ElMessiri-Bold.ttf');
}
*{
    font-family: 'Lato';
}
.el-messiri{
    font-family: 'El Messiri';
}
.transition-300ms{
    transition: all 300ms linear;
}
.bg-webservs{
    background-image: url('../images/webp/webservs-bg-image.webp');
}
.accordionItem.active  {
    background: #F3F5F6;
}
.accordionItem.active .accordion-btn  {
    background: #F3F5F6;
}